@charset "utf-8";

.content {
	position: relative;
}
.contenttitle {
	padding: 25px 170px;
    max-width: 1220px;
}
.contenttitle ul li {
	float: left;
	margin-left: 11px;
}
.contenttitle ul li a {
	color: #333333;
}
.contenttitle ul li a:hover {
	color: #337AB7;
}
.listscreen {
	float: left;
    width: 280px;
    height: auto;
           	    margin: 2em 0 0 19em;
}
.listtitle {
	background: #e0e0e0;
    padding: 15px 0 15px 30px;
    font-size: 16px;
}
.listtitle strong {
	font-weight: bold!important;
}
.navlist {
	border-left: 10px solid #f2f2f2;
    border-right: 10px solid #f2f2f2;
    border-bottom: 20px solid #f2f2f2;
    padding: 2px 18px;
    font-size: 16px;
}
.navlist ul {
	padding: 9px 0 0 30px;
}
.navlist ul li {
    padding: 10px 0;
}
.navlist ul li a {
	color: #333;
}
.listtow {
	color: #1428a0;
    font-weight: bold;
}
.floatclearfix li label {
    position: relative;
}
.floatclearfix li label i {
	background: url(../img/icon-common.png) 0 -408px no-repeat scroll transparent;
    width: 20px;
    height: 20px;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    margin-right: 8px;
}
.colorlist {
	overflow: hidden;
    padding: 8px 0 8px 1px;
}
.colorlist li {
	float: left;
    margin: 0 9px;
}
.colorlist li a {
	width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    display: block;
}
.listcont {
	width: 986px;
    height: 1248px;
    float: left;
    position: absolute;
           	    margin: 2em 0 0 46em;
}
.titlesrch span {
	font-weight: bold;
	font-size: 16px;
}
.listrowr {
	float: left;
	margin: 28px 0 20px;
    width: 25%;
    
}
.listboximg {
	position: relative;
    padding: 24px;
}
.listboximg a {
	display: block;
    text-align: center;
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}
.listboximg a img {
	width: 100%;
    height: auto;
    border: 0;
}
.iconactivebox {
	width: 61px;
	height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 7px;
}
.iconorange {
	position: relative;
    opacity: .9;
	height: auto!important;
	line-height: normal;
    font-size: 14px;
    background-color: #ed5e2f;
}
.iconorange span {
	color: #FFFFFF;
	padding: 0px 5px 0 5px;
}
.changorange {
	position: relative;
    opacity: .9;
	height: auto!important;
	line-height: normal;
    font-size: 14px;
    background-color: #ed5e2f;
}
.changorange span {
	color: #FFFFFF;
	padding: 0px 0px 0 5px;
}
.listscroll {
	position: relative;
    padding-top: 35px;
}
.colorrol {
	margin: 0 30px;	
}
.colorrol ul {
	margin: 0 0 0 16px;
}
.colorrol ul li {
	width: 24px;
    height: 24px;
    float: left;
}
.colorrol ul li a {
	width: 12px;
    height: 12px;
    border-radius: 0;
    display: block;
    border: 1px solid #ccc;
}
.productname {
	padding: 0 24px;
    text-align: center;
    margin-top: 12px;
}
.productname span a {
	color: #333333;
	font-size: 18px;
}
.listprice {
    font-size: 21px;
    margin-top: 5px;
}
.footer {
	margin: 1400px 0 0 0;
}
